.login-container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-registration-card {
  height: auto;
  width: 300px;
  border-radius: 0;
}

mat-tab-group {
  background: #a9a9a9;
}

.mat-display-1 {
  margin: 15px 0;
}

.form-field {
  font-size: 1.2em;
  width: 100%;
  padding: 5px 5px;
}

button {
  width: 100%;
}



