.container {
  width: 300px;
  padding: 15px;
}

.close-button {
  border: 1px solid black;
  border-radius: 5px;
}

.task-detail-container {
  padding: 5px;
  margin-top: 10px;
}


.card-title {
  display: flex;

  button {
    font-size: 20px;
    height: 20px;
    width: 20px;
    line-height: 20px;
    right: 0px;
  }
}

.task-number {
  font-size: 20px;
}

.field-container {

  margin: 5px 0px;

  .task-name {
    margin: 5px 0px;
  }

  mat-form-field {
    width: 100%;
    margin: 5px 0px;
  }

  .deadline {
    line-height: 22px;
    height: 22px;
    width: 50%;
    font-size: 14px;

    mat-icon {
      height: 20px;
      width: 20px;
      font-size: 20px;
      vertical-align: middle;
    }

    span {
      vertical-align: middle;
    }
  }

  button {
    width: 100%;
  }
}


.creator-container {
  ul {
    list-style: none;
    padding: 0;
    font-size: 14px;
    margin: 5px 0px;
  }

  li {
    display: flex;
    margin: 2px 0px;
  }
}
