<div class="list-container"
     [id]="list.name"
     cdkDropList
     [cdkDropListData]="list.tasks"
     (cdkDropListDropped)="drop($event)">

  <div class="add-task">
    <button mat-icon-button aria-label="Add new task" color="accent"
            (click)="currentState = currentState === 'hidden' ? 'show' : 'hidden'">
      <mat-icon>add_circle_outline</mat-icon>
      <span>New task</span>
    </button>

    <h4 class="task-name">{{list.name}}</h4>
  </div>
  <mat-card [@reveal]="currentState" [class.mat-elevation-z8]="true" class="form-card">
    <div class="add-task-form">
      <form [formGroup]="taskForm" (ngSubmit)="addTask()">
        <h4 class="task-name">{{taskTitle.value}}</h4>
        <mat-form-field floatLabel="never" hideRequiredMarker>
          <input matInput placeholder="Task Title" maxlength="50" minlength="8" formControlName="title" required
                 #taskTitle>
        </mat-form-field>
        <mat-form-field hideRequiredMarker>
          <textarea matInput class="form-description" placeholder="Description" maxlength="150" minlength="8"
                    formControlName="description" required></textarea>
        </mat-form-field>
        <mat-form-field>
          <input matInput [matDatepicker]="picker" [min]="startDate" placeholder="Choose a deadline" formControlName="deadline">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker [startAt]="startDate"></mat-datepicker>
        </mat-form-field>
        <mat-form-field>
          <mat-chip-list #partipates>
            <mat-chip *ngFor="let user of taskParticipants"
                      [selectable]="true"
                      [removable]="true"
                      (removed)="removeParticipant(user)">
              {{user}}
              <mat-icon matChipRemove>cancel</mat-icon>
            </mat-chip>
            <input matInput
                   [matChipInputFor]="partipates"
                   [matAutocomplete]="userAuto"
                   [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
                   [matChipInputAddOnBlur]="true"
                   (matChipInputTokenEnd)="addParticipants($event)"
                   placeholder="Participants"
                   formControlName="participants"
            >
          </mat-chip-list>
          <mat-autocomplete #userAuto (optionSelected)="selected($event)">
            <mat-option *ngFor="let user of users" [value]="user">
              {{user}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
        <button mat-flat-button type="submit" color="accent" [disabled]="!taskForm.valid">
          Save
        </button>
      </form>
    </div>
  </mat-card>

  <div class="add-task" *ngIf="list.tasks.length == 0">
    <p>No tasks yet</p>
  </div>

  <app-task-card cdkDrag *ngFor="let task of list.tasks" [task]="task" [listComponent]="this"></app-task-card>
</div>
