<mat-sidenav-container>
  <mat-sidenav #sidenav [mode]="mediaQuery.matches ? 'over': 'side'"
               [opened]="mediaQuery.matches ? false : true" style="text-align: center">
    <app-sidenav [bigScreen]="mediaQuery.matches ? true : false"></app-sidenav>
  </mat-sidenav>
  <mat-sidenav-content>
    <app-header #appHeader (sidenavToggle)="sidenav.toggle()"></app-header>
    <div class="bottom-fab">
      <button mat-fab color="accent">
        <mat-icon>add</mat-icon>
      </button>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
