/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, Roboto, sans-serif;
  background-color: #dddddd;
}

.container {
  width: 80%;
  margin: 25px auto;

  @media all and (max-width: 400px) {
    margin: 25px 10px;
  }
}

mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
