/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: monospace, Roboto, sans-serif;
  background-color: #dddddd;
}

.container {
  width: 80%;
  margin: auto;
}

mat-icon {
  width: 20px;
  height: 20px;
  font-size: 20px;
}
