@import "~@angular/material/theming";


@include mat-core();

$app-primary: mat-palette($mat-gray, 50);
$app-accent: mat-palette($mat-red, 400);
$app-secondary: mat-palette($mat-blue, A400);


$app-theme: mat-light-theme($app-primary, $app-accent, $app-secondary);


@include angular-material-theme($app-theme);

$primary: mat-color($app-primary);
$accent: mat-color($app-accent);
$secondary: mat-color($app-secondary);
