<mat-card>
  <div class="card-title">
    <p class="task-number">
      {{'#' + task.id}}
    </p>
    <h4 class="task-name" (click)="openTaskDetailDrawer($event)">
      {{task.title}}
    </h4>
  </div>
  <div class="creator-container">
    <mat-label>Creator:</mat-label>
    <div>
      <img
        src="https://cdn.glitch.com/c10f12bb-fff7-4b57-b3d7-db54cfd60226%2Fimg_avatar.png?v=1576924695397"
        class="avatars__img" *ngIf="task.creator.imgSrc"
      />
      <span class="avatars__initials" *ngIf="!task.creator.imgSrc">{{task.creator.initials}}</span>
      <p>{{task.creator.firstName + ' ' + task.creator.lastName}}</p>
    </div>
  </div>
  <div class="inner-container">
    <div class="deadline">
      <mat-icon>access_time</mat-icon>
      <span class="deadline">{{task.deadLine | date:"dd MMM"}}</span>
    </div>
    <div style="width:50%;">
      <ul class="avatars">
        <li class="avatars__item" *ngFor="let p of task.participants; let i = index">
          <img
            src="https://cdn.glitch.com/c10f12bb-fff7-4b57-b3d7-db54cfd60226%2Fimg_avatar.png?v=1576924695397"
            class="avatars__img" *ngIf="p.imgSrc"
          />
          <span class="avatars__initials" *ngIf="!p.imgSrc">{{p.initials}}</span>
        </li>
        <!--
         <li class="avatars__item">
           <span class="avatars__others">+2</span>
         </li>-->
      </ul>
    </div>
  </div>
  <div class="inner-container">

    <button mat-button (click)="openTaskDetailDrawer($event)" fxFlex="80">View More...</button>
    <!--<a class="detail-view-button"
       fxFlex="80">

    </a>-->
    <button mat-icon-button fxFlex="20" aria-label="Delete task" color="warn"
            (click)="listComponent.deleteConfirmation(task, '#'+task.id +' '+task.title)">
      <mat-icon>delete</mat-icon>
    </button>
  </div>
</mat-card>
