@font-face {
    font-family: 'asapregular';
    src: url('fonts/asap-regular-webfont.woff2') format('woff2'),
         url('fonts/asap-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'asapbold';
    src: url('fonts/asap-bold-webfont.woff2') format('woff2'),
         url('fonts/asap-bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
body {
	font-family: 'asapregular', sans-serif !important;
	padding-bottom: 30px;
}
.navbar {
	margin-bottom:0px;
}
.navbar-brand {
    padding: 7px 0px !important;
}
.navbar {
	border-radius: none;
	border-width:0px 0px 1px 0px; 
}
.navbar-default {
	background:#fff;
} 
.wrapper {
	padding-top:30px;
}
.title-cls-name {
    margin: 0 0 10px;
    padding-bottom: 7px;
    font-weight: normal;
    font-size: 16px;
    color: #0cb198;
    text-transform: uppercase;
    border-bottom: 1px solid #ccc;
}
.search-bar {
	margin-bottom:20px;
	float:left;
	width:100%;
	padding:10px 0px;
	background-color: #00b099;
}
.search-input {
	width: 100%;
    float: left;
}
#custom-search-input {
    margin:0;
    padding: 0;
}
.search-input .input-group {
	margin:0 auto;
	position: relative;
}
.rich-autocomplete input {
	border: 1px solid #ccc !important;
}
.search-input .input-group .rich-autocomplete {
	border:none;
	border-bottom:1px solid #fff !important;
}
.rich-autocomplete .rich-autocomplete-list {
	position:absolute;
}

.search-input .input-group .rich-autocomplete .spinner-container {
	right:30px;
}

.search-input .search-query {
    width:100%;
    padding-right: 3px;
    padding-left: 15px;
    margin-bottom: 0;
    border-radius: 0;
}
 
.search-input button {
    border: 0;
    background: none;
    color:#fff;
    position: absolute;
    top: 0px;
    right: 0;
    font-size: 18px;
}
.search-bar input[type=text] {
	color:#ffffff;
	padding: 5px 0px;
    width: 100%;
	border:none !important;
	background: transparent;
}
.search-bar input[type=text]::placeholder {
	color:#fff;
}
.askOtherProductForm {
	height: 450px;
    overflow: hidden;
    overflow-y: auto;
}
.buttons-table-head {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.table-addproduct { 
	width:100% !important;
	border-collapse: collapse; 
	}
.table-addproduct > tbody + tbody {
	border-top:none !important;
}
.table-addproduct > thead > tr > th {
	border:1px solid #ddd !important;
	width:20% !important;
	background:#fff !important;
	position:relative;
}
.table-addproduct > thead > tr > th.accept {
	position:relative;
}
.table-addproduct th img {
    margin-bottom: 10px;
}
.table-addproduct > thead > tr > th span {
	position: absolute;
    right: 10px;
    top: 10px;
    font-size: 16px;
    border: 2px solid #ccc;
    border-radius: 100%;
    height: 24px;
    width: 24px;
    text-align: center;
    line-height: 24px;
}
.table-addproduct > tbody > tr > td {
	position: relative;
}
.table-addproduct > tbody > tr > td span.addTestSpan {
	position: absolute;
    right: 5px;
    top: 12px;
}
.table-addproduct > tbody > tr > td span.remove-test-icon {
	font-size: 11px;
    border: 2px solid #ccc;
    border-radius: 100%;
    height: 18px;
    width: 18px;
    text-align: center;
    line-height: 18px;
}
.table-addproduct label.arrow-toggling {
	font-size: 20px;
	line-height: 20px;
}
.table-addproduct > thead > tr > th img.img-ask-product {
	margin-bottom:5px;
}
.table-addproduct > thead > tr > th:first-child {
	border:none !important;
}
.table-addproduct th:first-child {
	background:transparent;
	border:none;
}
.table-addproduct > tbody > tr.productSpecs td, .table-addproduct > tbody > tr.testResults td {
	background-color: #00b099;
	font-weight: bold;
	color: #fff;
}
.table-addproduct > tbody > tr.testCategory td {
	background-color: #8dd2c8;
	font-weight: bold;
	color: #000;
}
.table-addproduct > tbody > tr.productSpecs td label, .table-addproduct > tbody > tr.testResults td label, .table-addproduct > tbody > tr.testCategory td label {
	margin:0px;
}
.table-addproduct > tbody.toggleTBody > tr:nth-child(even) {
    background: #fff;
}
.table { 
	border-collapse: collapse; 
	float: left;
}
.ui-jqgrid .ui-jqgrid-view {
    font-size: 14px !important;
}
footer {
    background: #373634;
    padding: 5px;
    color: #fff;
    margin: 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}
.ui-dialog {
	z-index:9;
}
div.ui-dialog .ui-dialog-titlebar {
    margin: 0;
    height: 28px;
    padding: 3px 6px;
}
.ui-dialog .ui-dialog-titlebar {
    background-color: #00b7a2;
    color: #fff;
}
tr.ui-jqgrid-labels .ui-state-default {
    background-image: none !important;
    background-color: #00b7a2;
    font-weight: normal;
    color: #ffffff;
}

[data-toggle="toggle"],[data-toggle="toggle-test"]{
	display: none;
}

.collapseSpanSpec .addTestSpan{
	float: right;
	display: block;
}
.wrapper { 
  border : 2px solid #000; 
  overflow:hidden;
}

.wrapper div {
   min-height: 200px;
   /* padding: 10px; */
}
#one {
  background-color: gray;
  float:left; 
  /* margin-right:10px; */
  width:50%;
  /* border-right:2px solid #000; */
}
#two { 
  background-color: red;
  overflow:hidden;
  /* margin:10px; */
  width:50%;
  /* border:2px dashed #ccc;
  min-height:170px; */
}

#three { 
  background-color: red;
  overflow:hidden;
  /* margin:10px; */
  width:50%;
  /* border:2px dashed #ccc;
  min-height:170px; */
}
@media screen and (max-width: 400px) {
   #one { 
    float: none;
    margin-right:0;
    width:auto;
    border:0;
    border-bottom:2px solid #000;    
  }
}

loading_gif {
	background: url(../img/ajax-loader.gif) no-repeat;
	border: none;
	width: 32px;
	height: 32px;
	margin: 0 auto
}

.red {
    color: red;
    padding-right: 2px;
}

.profiling_tbl_grid .ansellGridContainer {
	float: left;
	width: 100%;
	/* border: 0px solid #A6C8E2 */
    border: 1px solid #ddd;
}

.marb10 {
	margin-bottom: 10px !important
}
.ui-jqgrid .ui-jqgrid-pager {
    height: auto !important;
}
 

.form-group .form-control {
    width: 100%;
}
.productRequestFormDialog {
	overflow-y:auto;
}
input[type="radio"] {
	margin:2px 0px 0px 0px;
}
.form-group .input-group-addon {
	background-color: #eee;
    border: 1px solid #ccc;
    border-radius:none;
}
.request-product-details {
	min-height:145px;
	border-right:1px solid #ccc;
}
.request-product-details h5 {
	font-weight:bold;
	color:#0cb198 !important;
}
hr {
	margin-top:15px;
	border-top: 1px solid #ccc;
}
.request-product-details:last-child {
	border-right:none;
}
.request-product-details > ul {
	margin:0px;
	padding:0px;
}
.request-product-details > ul > li {
	margin: 0px 0px 10px 0px;
    padding: 0px 0px 0px 25px;
    list-style-type: none;
    position: relative;
    line-height: 16px;
}
.request-product-details > ul > li > a > i {
	position: absolute;
    left: 0px;
    top: 0px;
    font-size: 11px;
    border: 1px solid #ccc;
    border-radius: 100%;
    height: 15px;
    width: 15px;
    text-align: center;
    line-height: 15px;
}
.dragtable-sortable li {
	background:none;
}
.text-c {
    text-align: center !important;
}
.btnBlueB {
    color: #00b7a2 !important;
    background-color: #fff !important;
    border-color: #00b7a2 !important;
}

.btnmargin {
    margin-left: 3px !important;
}
.btnBactiveB {
    background-color: #00b7a2 !important;
    color: #fff !important;
    border-color: #00b7a2 !important;
}
.btnIcon {
    padding-right: 7px;
}
p{margin:0px 0px 15px 0px !important;}
.ui-widget-overlay {
	background: #000;
}
.askOtherProductForm .ui-datepicker-trigger{
	position: absolute;
    top: 9px;
    right: 15px;
    background: none;
    border: none;
}
#outer {
	display: flex;
	flex-flow: column;
	height: 100%;
}
#welcome-image {
	position:relative;
	background: url(../img/img-welcomepage.jpg) no-repeat;
	background-size:cover;
	background-position: center center;
	flex-grow: 1;
}
.enter-btn {
	margin-left:-100px;
    position: absolute;
    bottom: 30px;
    left: 50%;
    right: 50%;
    font-weight: bold;
    font-size: 24px;
    border: 2px solid transparent;
    border-color: #00b7a2 !important;
    -moz-transition: all .1s ease-in;
    -o-transition: all .1s ease-in;
    -webkit-transition: all .1s ease-in;
    transition: all .1s ease-in;
    background-color:#ffffff;
    background:white;
    z-index:9999;
    width:200px;
    height:60px;
    line-height:40px;
}
.enter-btn:hover {
	background: #00b7a2 !important;
	color:#fff !important;
	border-color: #fff !important;
}
/*.enter-btn i {
	position: absolute;
    right: 15px;
    font-size: 30px;
    top: 9px;
}*/

.excludedProducts{
	background-color:gray;
} 

#notificationSave,#notificationError,#customMessage{
	position: fixed;
	z-index: 1111;
	vertical-align: middle;
	text-align: center;
	margin: 0 0 0 0%;
	padding: 3px 3px 3px 10px;
	top: 0;
	width: 350px;
	display: none;
	font-family: tahoma, Arial, Helvetica, sans-serif;
	font-size: 14px;
	font-weight: 700;
	line-height:38px;
}

#notificationSave,#customMessage {
	background: #000;
	border: 1px solid #000;
	color: #fff;
}

.img-circle {
    border-radius: 50%;
    border: 3px solid #000;
    width: 30px;
    height: 30px;
    margin: 5px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50%;
    border-radius: 50%;
    -webkit-background-clip: padding-box;
    -moz-background-clip: padding;
    background-clip: padding-box;
}

.headermenu {
    list-style-type: none;
    display: table;
    margin: 2px;
}

.header-right{
	float: right;
		
}

.custom_popup{top:5% !important;}

.ui-widget-header {
    border: 1px solid #0cb198 !important;
    background: #0cb198 !important;
    color: #fff !important;
   font-weight: normal !important;
}

.ui-dialog .ui-dialog-titlebar-close:hover,
.ui-dialog .ui-dialog-titlebar-close:hover .ui-button-icon.ui-icon.ui-icon-closethick
 {color:#fff !important;}
.ui-dialog .ui-dialog-titlebar-close {
    position: absolute;
    right: .3em;
    top: 50%;
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
    background: #fff !important;
    border: none !important;
}

.loading_gif {
	background: url(../img/double-ring.svg) no-repeat;
	border: none;
    width: 150px;
    height: 150px;
    margin: -57px 0px -6px 16px;
}

.loaderTransparent{
	border: 1px solid #fffdfd00 !important;
	background: transparent !important;
}
.ui-widget.ui-widget-content.loaderTransparent{
	border: 1px solid #fffdfd00 !important;
	background: transparent !important;
}
.ui-datepicker-month, .ui-datepicker-year {
	color: #000 !important;
}
.ui-datepicker-calendar a.ui-state-default.ui-state-hover {
	background:#00b7a2 !important;
	color:#fff !important;
}
.userprofile1 {
	position: relative;
}
.userprofile1 .img-circle {
    border-radius: 50%;
    border: 1px solid #848484 !important;
    width: 30px;
    height: 30px;
    margin: 0;
    position: relative;
    left: 0px;
    top: -2px;
}
.headermenu {
    list-style-type: none;
    display: table;
    margin: 10px 0px 0px 0px;
}
.headermenu li a {
	padding:0px;
}
.flag-image {
	margin-right:5px;
	position:relative;
	top:-3px;
}
.headermenu li {
	border-right:1px solid #ccc;
    float: left;
    line-height:30px;
    padding:0px 10px;
    position: relative;
}
.headermenu li:last-child {
	padding:0px 0px 0px 10px;
	border-right:1px transparent;
}
.userprofile1 .badge-inverse {
	background-color: transparent !important;
	font-size: 11px;
	font-weight: normal;
	left: 35px;
	padding: 0px;
	position: absolute;
	top: 0px;
	z-index: 99;
}
.badge {
	display: inline-block;
	min-width: 10px;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: middle;
	border-radius: 10px;
}
.userprofile {
    padding: 0px 0px 0px 15px;
    display: inline-block;
}
.search-input .input-group .rich-autocomplete ul.rich-autocomplete-list p {
	margin:0px !important;
}