<div>
  <div mat-dialog-title class="flex-container">
    <h3>Confirmation</h3>
    <button mat-button class="close-icon" [mat-dialog-close]="false">
      <mat-icon>close</mat-icon>
    </button>
  </div>
  <div mat-dialog-content>
    <h4>Are you sire you want to delete this <b>{{ type }}</b>?</h4>
  </div>
  <div mat-dialog-actions>
    <button mat-button (click)="dialogRef.close(false)" cdkFocusInitial>Cancel</button>
    <button mat-button (click)="dialogRef.close(true)" color="warn">Confirm</button>
  </div>
</div>
