<div class="board-container">
  <div>
    <mat-card>
      <mat-card-title>
        XYZ
      </mat-card-title>
        <mat-nav-list>
          <mat-list-item style="border: 1px solid grey">
            Create new project
          </mat-list-item>
        </mat-nav-list>
      <mat-divider inset></mat-divider>
      <mat-card-footer>
        <button mat-flat-button style="width: 100%"> <mat-icon>add</mat-icon> <span>Add new card</span></button>
      </mat-card-footer>
    </mat-card>
    <button mat-stroked-button color="primary"> <mat-icon>add</mat-icon> <span>Add new list</span></button>
  </div>
</div>
