<div class="board-container">
  <app-list *ngFor="let l of list" [list]="l" [project]="project"></app-list>
  <div class="add-list-button">
    <button mat-stroked-button color="accent" (click)="currentState = currentState === 'hidden' ? 'show' : 'hidden'">
      <mat-icon>add</mat-icon>
      <span>Add List</span>
    </button>

    <mat-card [@reveal]="currentState" [class.mat-elevation-z8]="true" class="form-card">
      <div class="add-list-form-container">
        <form #listForm="ngForm">
          <mat-form-field hideRequiredMarker>
            <input matInput placeholder="Add new list" maxlength="10" minlength="3" required
                   #listName>
          </mat-form-field>
          <button mat-icon-button type="submit" color="accent" aria-label="Save new list"
                  (click)="addNewList(listName)" [disabled]="addingList">
            <mat-icon *ngIf="!addingList">check</mat-icon>
            <mat-icon *ngIf="addingList">
              <mat-spinner color="accent" diameter="25"></mat-spinner>
            </mat-icon>
          </button>
          <mat-error></mat-error>
        </form>
      </div>
    </mat-card>
  </div>
</div>

<div class="bottom-fab">
  <button mat-fab color="accent" matTooltip="Add new list" matTooltipPosition="before">
    <mat-icon>add</mat-icon>
  </button>
</div>


<!--<mat-card class="add-list-form-container">
  <mat-toolbar color="primary">
    <span fxFlex>Options</span>
    <button mat-icon-button>
      <mat-icon>close</mat-icon>
    </button>
  </mat-toolbar>
  <mat-card-content>
    <div>
      <mat-form-field>
        <input matInput placeholder="List title">
      </mat-form-field>
    </div>
  </mat-card-content>
</mat-card>-->

