
.board-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  overflow-x: auto;
  position: relative;

  .add-list-button {
    width: 222px;
    height: 40px;
    position: absolute;

    button {
      width: 100%;
      margin: auto;
    }
  }

}

app-list {
  margin-left: 5px;
}

.task-list-container {
  display: inline-block;
}

.add-card-button {
  height: 15px;
  padding: 5px;
}

.task-card-container {
  margin-top: 22px;
  display: inline-block;
}

mat-card {
  width: 200px;
  height: auto;
  font-size: 0.2em;
  padding: 5px;
  margin: 5px;
}

mat-card-title {
  font-size: 15px;
  margin: 0px;
}

mat-card-content {
  font-size: 12px;
  margin-bottom: 5px;
}

.task-card-description {
  height: 70px;
  overflow: hidden;
}

mat-card mat-card-actions {
  padding: 0 5px;
  margin: 1px;
}

mat-chip-list {
  mat-chip {
    font-size: 9px;
    margin: 2px;
  }
}


.task-card-author {
  margin-top: 5px;
  padding: 5px 0px;
}

.mat-icon-username {
  position: absolute;
  margin-top: 5px;
  margin-left: 2px;
}

.bottom-fab {
  bottom: 25px; /* Ensure it's 5 px from the bottom */
  right: 35px;
  position: fixed; /* Sticks it in position when scrolling */
}

.add-list-form-container.mat-card {
  position: fixed;
  bottom: 0;
  right: 20px;
  height: 150px;
  width: 300px;
  border: 2px solid #1E8FE1;

  mat-toolbar {
    height: 40px;
    background: #607d8b;
  }

  mat-form-field {
    width: 100%;
  }
}
