<div class="container">
  <button mat-raised-button (click)="goBack($event)" color="accent">
    <mat-icon>arrow_back</mat-icon>
    Go Back
  </button>
  <div>
    <h2>{{project.name}}</h2>
  </div>
  <table>
    <tbody>
    <tr>
      <td>Owner:</td>
      <td>{{project.creator.name}}</td>
    </tr>
    <tr>
      <td>Description:</td>
      <td>
        <p>{{project.description}}</p>
        <!--<textarea>I like spring ecosystem, currently I'm leaning how utilize spring cloud module in microservice architecture environment</textarea>-->
      </td>
    </tr>
    <tr>
      <td>Users:</td>
      <td>
        <ul>
          <li *ngFor="let user of project.users">
            <div><p>{{user.name}}</p>
              <button mat-icon-button (click)="deleteConfirm($event, user)">
                <mat-icon class="mat-18">delete</mat-icon>
              </button>
            </div>
          </li>
        </ul>
      </td>
    </tr>
    <tr>
      <td>Add User:</td>
      <td>
        <div class="add-user-container">

          <mat-form-field floatLabel="never">
            <input matInput
                   type="text"
                   required
                   placeholder="Type email here.."
                   [formControl]="userAutoCompleteControl"
                   [matAutocomplete]="auto">
            <mat-spinner matSuffix mode="indeterminate" diameter="17" *ngIf="showSpinner"></mat-spinner>
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option *ngFor="let user of userAutoComplete$ | async; let index = index" [value]="user.email">
                {{user.email}}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
          <button mat-icon-button (click)="addUser($event)">
            <mat-icon class="mat-18">check_circle_outline</mat-icon>
          </button>
        </div>
      </td>
    </tr>
    </tbody>
  </table>
</div>
