<div class="container">
    <mat-icon>arrow_back</mat-icon>
  <div>
    <h2>kanban</h2>
  </div>
  <div>
    <h3>Owner</h3>
    <h3>bharath battula</h3>
  </div>
  <div>
    <h3>Description</h3>
    <textarea>I like spring ecosystem, currently I'm leaning how utilize spring cloud module in microservice architecture environment</textarea>
  </div>
  <div>
    <h3>Users</h3>
    <ul>
      <li>Bharath Battula</li>
      <li>Kent simpson</li>\
      <li>Prashnt</li>
    </ul>
  </div>
  <div>
    <h3>Add User</h3>
    <mat-form-field floatPlaceholder="auto">
      <input matInput
             type="text"
             required
             placeholder="">
    </mat-form-field>
    <button mat-raised-button color="primary">ADD</button>
  </div>
</div>
